{{!< layout}}

{{#contentFor "logo"}}
<div class="card" id="mainImage">
  <img src="/images/ashakiranimg.jpeg" style="width:100%">
  <div class="card-block">
    <h3 class="card-text">Ashakiran - A ray of hope</h3>
  </div>
</div>

{{/contentFor}}
