<html>
<head>
  <title>{{title}} | AshaKiran</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">


</head>
<style>
.margin-top{
  margin-top: 100px;
}

#mainImage .card-block{
  background-color: green;
  color:white;
}

#mainImage .card-block h3{
  text-align: center;
}

.bold{
  font-weight: bold;
}

.theme-orange-bg{
  background-color: orange;
  color:white;
}

.no-bg{
  background-color: transparent;
}

.navbar-inverse .navbar-nav .nav-link{
  color:black;
}

.navbar-inverse .navbar-nav .nav-link:hover{
  color:orange;
}

.nav-item{
  border-top:    1px solid green;
  border-right:  1px solid green;
  border-left: 1px solid green;
  margin: 0% 0.5%;
}

.main-nav{
  margin-bottom: 0;
  padding-bottom: 0
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    width: 100%;
}

.navbar-nav > li {
    display: inline-block;
    width: 15%;
    float:none;
}
</style>
<body>

  <div class="container-fluid">
    <div class="margin-top"></div>





    <div class="row">
      <div class="col-md-8 offset-md-1">

        <nav class="navbar navbar-toggleable-sm navbar-fixed-top navbar-inverse no-bg main-nav">
        <div class="container">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/volunteers">Volunteers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Email&nbsp;Us</a>
                </li>
            </ul>
        </div>
      </nav>

        <div class="row" style="margin-bottom:2%;">
          {{{block "logo"}}}
        </div>
        <div class="row">
          Asha Kiran (a ray of Hope) is a school run by IIIT students for kids who come from nearby slums. We teach them Telugu, Maths, English and Hindi. Age group of these kids range from 6-15yrs.Apart from the normal teaching methodology we also adopt various other means such as learning through videos and games.These children also particpiate in few of the cultural activities of the college. The classes are held 6 days a week in the evening and after the classes snacks are also been served to the kids.Moreover its about spreading education among the masses and fun at the same time,becoming children with the kids.
        </div>
      </div>
      <div class="col-md-2" style="margin-right:8.33%;margin-top:90px;">
        <div class="card">
          <div class="card-header theme-orange-bg">
            Class Hours Notice:
          </div>
         <div class="card-block">
            <h4 class="card-title ">Social Class</h4>
            <p class="card-text">
              <span class="bold">Time:</span>4:30 PM - 5:30 PM
              <span class="bold">By:</span>Saujanya Reddy
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
