{{!< deflayout}}

{{#contentFor "body"}}
<div class="row posted" style="margin:10% 10%;">
  <button type="button" class="btn btn-secondary btn-lg btn-block theme-green-bg">Click here to register</button>
</div>
{{/contentFor}}
