{{!< deflayout}}

{{#contentFor "body"}}
<div class="row posted">
  <div class="mx-auto">
    <table class="table table-responsive" id="schedule">
      <thead class="row no-margin">
        <tr class="row col-md-12 no-padding no-margin">
          <th class="col-md-3 width47">#</th>
          <th class="col-md-3 width47">Monday</th>
          <th class="col-md-3 width47">Tuesday</th>
          <th class="col-md-3 width47">Wednesday</th>
          <th class="col-md-3 width47">Thursday</th>
          <th class="col-md-3 width47">Friday</th>
          <th class="col-md-3 width47">Saturday</th>
        </tr>
      </thead>
      <tbody class="row no-margin">
        <tr class="row col-md-12 no-padding no-margin">
          <th scope="row" class="col-md-3 width47">
            <p class="align-middle">5pm-6pm</p>
          </th>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
        </tr>
        <tr class="row col-md-12 no-padding no-margin">
          <th scope="row" class="col-md-3 width47">
            <p class="align-middle">6pm-7pm</p>
          </th>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
          <td class="col-md-3 width47">
            <p><b>Maths</b></p><br><p>Suhas Darsi</p><br><p>Sourav Malani</p>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
{{/contentFor}}
